@charset"UTF-8";
header{background-color: #ffffff;}

body{
  background-color:  #c4c4c4;
  margin: auto;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  width:288px;
  height:182px;
  margin-bottom: 0; 
}

p{color: #282828;}

.card{
  background-color:#ffffff; padding: 14px; width:fit-content;
}

.card__title{font-size: 14px; font-weight: bold;}

.card__description{font-size: 14px;}

footer{
  background-color: #ffffff;
}
