@charset"UTF-8";
@media screen and (min-width:1200px) {
  header{
    background-color: #ffffff;
  }
  
  body{
    background-color:  #c4c4c4;
    margin: auto;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  img{
    width:288px;
    height:182px;
    margin-bottom: 0; 
  }
  
  p{color: #282828;}
  
  .card{
    background-color:#ffffff; padding: 14px; width:fit-content;
    margin: 50px;
  }
  
  .card2{
    background-color:#ffffff; padding: 14px; width:fit-content;
    margin: 50px;
  }
  
  .card__title{font-size: 14px; font-weight: bold;}
  
  .card__description{
    font-size: 14px;
    margin: 0;
  }
  
  footer{
    background-color: #ffffff;
  }
}

@media screen and (min-width:768px) and (max-width:1200px){
  header{
    background-color: #ffffff;
  }
  
  body{
    background-color:  #c4c4c4;
    margin: auto;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  img{
    width:144px;
    height:91px;
    margin-bottom: 0; 
  }
  
  p{color: #282828;}
  
  .card{
    background-color:#ffffff; padding: 8px; width:fit-content;
    margin: 25px;
  }
  
  .card2{
    background-color:#ffffff; padding: 8px; width:fit-content;
    margin: 25px;
  }
  
  .card__title{font-size: 8px; font-weight: bold;}
  
  .card__description{
    font-size: 8px;
    margin: 0;
  }
  
  footer{
    background-color: #ffffff;
  }
}

@media screen and (min-width:320px) and (max-width:768px){
  header{
    background-color: #ffffff;
  }
  
  body{
    background-color:  #c4c4c4;
    margin: auto;
  }
  main{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  
  img{
    width:72px;
    height:46px;
    margin-bottom: 0; 
  }
  
  p{color: #282828;}

  .card{
    background-color:#ffffff; padding: 2px; width:fit-content;
    margin: 10px;
  }

  .card2{
    background-color:#ffffff; padding: 2px; width:fit-content;
    margin: 10px;
  }
  
  .card__title{font-size: 8px; font-weight: bold;}
  
  .card__description{
    display: none;
  }
  
  footer{
    background-color: #ffffff;
  }
}
